@charset "utf-8";

@xiaomiColor:#ff6a00;
@box-shadowB: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
@import url(./header.less);
@import url(./sidebar.less);
#header_bottom .nav{margin-left: -20px;}
main{
    // 顶部导航
    #details_top{
        line-height: 63px;
        height: 63px;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 5;
        .warpper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            i{padding: 0 10px;font-size: 14px;color: #ddd;}
            a{color: #616161;font-size: 14px;&:hover{color: @xiaomiColor;}}
            .products{
                display: flex;
                align-items: center;
                em{font-size: 20px;}
                a{font-size: 12px;}
                i{font-size: 12px;color: #aaa;}
            }
            ul.page{display: flex;}
        }
    }
    // 主体部分
    #details_main{
        margin-top: 30px;
        display: flex;
        // 左侧缩略图
        #details_show{
            flex: 1;
            z-index: 5;
            position: relative;
            .details_img{
                position: absolute;
                width: 560px;
                height: 800px;
                z-index: 2;
                img{top: 0;left: 0;width: 100%;position: absolute;}
            }
            .control{
                position: absolute;
                z-index: 25;
                width: 560px;
                height: 560px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                >span{
                    width: 40px;
                    line-height: 70px;
                    color: #ddd;
                    text-align: center;
                    font-size: 34px;
                    cursor: pointer;
                    &:hover{
                        background-color: #7f7f7f;
                        color: #eee;
                    }
                    &:nth-child(2){
                        transform: rotate(180deg);
                    }
                }
                .details_toggle{
                    width: 100%;
                    height: 3px;
                    z-index: 500;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    bottom: 20px;
                    span{
                        display: block;
                        background-color: #d6d6d6;
                        height: 100%;
                        width: 50px;
                        margin: 0 4px;
                        cursor: pointer;
                        &:hover{
                            background-color: #b5b5b5;
                        }
                        &.on{
                            background-color: #a3a3a3;
                        }
                    }
                }
            }
        }
        // 右侧商品选择
        #details_select{
            flex: 1;
            margin-left: 20px;
            h3{
                font-size: 24px;
                line-height: 52px;
            }
            p.state{
                color: #b0b0b0;
                font-size: 14px;
                span{color: @xiaomiColor;}
            }
            >em{
                color: @xiaomiColor;
                line-height: 46px;
                font-size: 14px;
            }
            .products_prices{
                padding-bottom: 20px;
                border-bottom: 1px solid #e0e0e0;
                em{color: @xiaomiColor;font-size: 18px;}
                i{text-decoration:line-through;color: #aaa;font-size: 14px;margin-left: 3px;}
            }
            #user_addr{
                background-color: #fafafa;
                border: 1px solid #e0e0e0;
                margin: 20px 0;
                padding-left: 23px;
                padding-top: 25px;
                height: 75px;
                span{color: #999;}
                i{margin-left: 12px;}
                #set_addr{color: @xiaomiColor;margin-left: 10px;}
                .spot{
                    display: block;
                    color: @xiaomiColor;
                    margin-left: 33px;
                    line-height: 28px;
                }
            }
            section{
                .item_title{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h4{line-height: 50px;font-size: 18px;}
                    a{font-size: 14px;color: @xiaomiColor;}
                }
                .item_select{
                    display: flex;
                    flex-wrap: wrap;
                    .item_one{
                        border: 1px solid #e0e0e0;
                    }
                    a.item_one{
                        flex: 48%;
                        text-align: center;
                        margin-bottom: 10px;
                        line-height: 42px;
                        color: #757575;
                        &:nth-of-type(even){
                            margin-left: 12px;
                        }
                        &:hover{
                            color: @xiaomiColor;
                            border-color: @xiaomiColor;
                        }
                        &.on{
                            color: @xiaomiColor;
                            border-color: @xiaomiColor;
                        }
                    }
                    div.item_one{
                        height: 110px;
                        width: 100%;
                        padding-left: 80px;
                        padding-top: 40px;
                        display: flex;
                        position: relative;
                        cursor: pointer;
                        border-bottom: none;
                        &:last-child{border-bottom: 1px solid #e0e0e0;}
                        >i{
                            position: absolute;
                            font-size: 12px;
                            width: 14px;
                            height: 14px;
                            left: 50px;
                            top: 60px;
                            border-radius: 50%;
                            border: 1px solid #b0b0b0;
                            span{display: block;transform: scale(.7) translate(-1px,-2px);color: white;}
                        }
                        img{height: 40px;margin-right: 15px;}
                        >span{position: absolute;right: 20px;bottom: 30px;color: #757575;}
                        .item_txt{
                            p{font-size: 20px;font-weight: bold;}
                            p>span{background-color: @xiaomiColor;color: white;line-height: 25px;border-radius: 12px;font-size: 14px;padding:2px 5px;margin-left: 3px;}
                            >span{font-size: 14px;color: #b0b0b0;line-height: 32px;}
                            .agree{
                                display: flex;align-items: center;
                                input{
                                    position: relative;
                                    cursor: pointer;
                                    &[type=checkbox]::after{
                                        position: absolute;
                                        top: -1px;
                                        left: -2px;
                                        background-color: white;
                                        border: 1px solid #b0b0b0;
                                        border-radius: 3px;
                                        color: #fff;
                                        width: 14px;
                                        height: 14px;
                                        display: inline-block;
                                        visibility: visible;
                                        text-align: center;
                                        content: ' ';
                                    }

                                    &[type=checkbox]:checked::after{
                                        position: relative;
                                        content: "✓";
                                        line-height: 14px;
                                        font-size: 10px;
                                        font-weight: bold;
                                        background-color: @xiaomiColor;
                                        border-color: @xiaomiColor;
                                    }
                                }
                                span{font-size: 14px;margin-left: 3px;
                                    a{color: @xiaomiColor;margin: 0 2px;padding: 0 1px;}
                                }
                            }
                            
                        }
                        &:focus-within{
                            border: 1px solid @xiaomiColor;
                            .item_txt>p{color: @xiaomiColor;}
                            i{
                                background-color: @xiaomiColor;
                                border-color: @xiaomiColor;
                            }
                        }
                    }
                }
            }
            #total{
                background-color: #f9f9fa;
                color:#616161;
                padding: 38px 28px;
                margin: 30px 0;
                p{display: flex;justify-content: space-between;}
                p.total_version{font-size: 14px;i{text-decoration: line-through;margin-left: 5px;line-height: 28px;}}
                p.total_price{font-size: 26px;color: @xiaomiColor;margin-top: 28px;}
            }
            button{
                line-height: 54px;
                border: none;
                cursor: pointer;
                color: white;
                transition: background-color .3s;
                &#add_list{
                    background-color: @xiaomiColor;margin-right: 10px;width: 300px;
                    &:hover{background-color: darken(@xiaomiColor,5%);}
                }
                &#add_like{
                    background-color: #b0b0b0;line-height: 52px;width: 142px;
                    &:hover{background-color: darken(#b0b0b0,20%);}
                }
            }
            ul.point{
                padding: 20px 0;
                display: flex;
                flex-wrap: wrap;
                line-height: 40px;
                color: #b0b0b0;
                li{margin-right: 10px;}
            }
        }
    }
    .details_content{
        overflow: hidden;
        img{margin-left: calc(50% - 1280px);}
    } 
    // 底部说明
    #price_state{
        background-color: #f5f5f5;
        padding-bottom: 40px;
        .warpper{
            h4{
                font-size: 24px;
                line-height: 80px;
            }
            img{width: 100%;}
        }
    }
}

@import url(./footer.less);
