@charset "utf-8";
#header_top {
  background-color: #333;
  color: #aaa;
  height: 40px;
  font-size: 12px;
  position: relative;
  z-index: 100;
}
#header_top a {
  color: #aaa;
}
#header_top a:hover {
  color: #fff;
}
#header_top .warpper {
  background-color: #333;
}
#header_top #sitemap {
  float: left;
  display: flex;
}
#header_top #sitemap li {
  color: #424242;
}
#header_top #sitemap li > a {
  margin: 0 7px;
  line-height: 40px;
  padding: 12px 0;
}
#header_top #sitemap li:nth-child(1) a {
  margin-left: 0;
}
#header_top #sitemap li:nth-child(11) a {
  position: relative;
}
#header_top #sitemap li:nth-child(11) a em {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  display: block;
  position: absolute;
  left: 15px;
  z-index: 50;
  bottom: 0;
  border: 8px solid transparent;
  border-bottom-color: white;
  display: none;
}
#header_top #sitemap li:nth-child(11) a .Qr_code {
  overflow: hidden;
  position: absolute;
  text-align: center;
  left: -40px;
  top: 40px;
  height: 0;
  width: 126px;
  font-size: 14px;
  transition: all 0.3s;
  color: #333;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
}
#header_top #sitemap li:nth-child(11) a .Qr_code img {
  width: 86px;
  margin-left: 20px;
  margin-top: 20px;
}
#header_top #sitemap li:nth-child(11) a:hover em {
  display: block;
}
#header_top #sitemap li:nth-child(11) a:hover .Qr_code {
  height: 150px;
}
#header_top #user {
  float: right;
  display: flex;
}
#header_top #user #login {
  display: flex;
  margin-right: 25px;
}
#header_top #user #login dd {
  color: #424242;
}
#header_top #user #login dd > a {
  margin: 0 5px;
  line-height: 40px;
  padding: 12px 0;
}
#header_top #user #list {
  width: 120px;
  background-color: #424242;
  line-height: 40px;
  cursor: pointer;
  position: relative;
}
#header_top #user #list .iconfont {
  display: inline-block;
  line-height: 16px;
  margin-left: 20px;
  margin-right: 5px;
  transform: translateY(1px);
}
#header_top #user #list #sub_list {
  width: 316px;
  position: absolute;
  right: 0;
  top: -80px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  transition: top 0.5s;
  z-index: -5;
  background-color: #fff;
}
#header_top #user #list #sub_list p {
  line-height: 100px;
  text-align: center;
  color: #424242;
}
#header_top #user #list:hover {
  background-color: white;
  color: hsl(25, 100%, 50%);
}
#header_top #user #list:hover #sub_list {
  top: 40px;
}
#header_bottom {
  background-color: white;
  position: relative;
  border-bottom: 1px solid transparent;
}
#header_bottom .warpper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header_bottom img {
  width: 56px;
  height: 56px;
}
#header_bottom img:active {
  transform: scale(0.9);
}
#header_bottom .nav {
  display: flex;
  justify-content: start;
  margin-left: 100px;
}
#header_bottom .nav > li > a {
  padding: 0 10px;
  color: #333;
  font-size: 16px;
}
#header_bottom .nav > li:hover .sub_nav {
  top: 100px;
}
#header_bottom .search {
  display: flex;
}
#header_bottom .search input {
  display: block;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-right: none;
  height: 50px;
  width: 235px;
  line-height: 50px;
  padding-left: 10px;
}
#header_bottom .search > a {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #e0e0e0;
  text-align: center;
  color: #000;
  background-color: white;
}
#header_bottom .search > a .icon-gouwuchekong {
  color: #666;
  font-size: 20px;
}
#header_bottom #sub_nav_box {
  position: absolute;
  height: 0;
  width: 100%;
  left: 0;
  top: 101px;
  z-index: 25;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: all 0.5s;
  overflow: hidden;
}
#header_bottom:hover {
  border-bottom: 1px solid #e0e0e0;
}
#header_bottom:hover #sub_nav_box {
  height: 230px;
}
#header_bottom .sub_nav {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
}
#header_bottom .sub_nav a {
  height: 230px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
#header_bottom .sub_nav a img {
  height: 105px;
  width: auto;
  box-sizing: border-box;
}
#header_bottom .sub_nav a p {
  margin-top: 20px;
  color: #333;
}
#header_bottom .sub_nav a i {
  color: hsl(25, 100%, 50%);
}
#header_bottom .sub_nav .line {
  border-left: 1px solid #e0e0e0;
  height: 100px;
  margin-top: 35px;
  display: inline-block;
}
#header_bottom .sub_nav li:nth-last-child(1) img {
  border-right: none;
}
main .banner {
  height: 460px;
  background-color: burlywood;
  position: relative;
}
main .banner > img {
  width: 100%;
}
main .banner .banner_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
}
main .banner .banner_top .banner_nav {
  background: rgba(119, 119, 119, 0.5);
  width: 235px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
main .banner .banner_top .banner_nav a {
  display: block;
  line-height: 43px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 30px;
  font-size: 14px;
}
main .banner .banner_top .banner_nav a :last-child {
  color: rgba(255, 255, 255, 0.8);
}
main .banner .banner_top .banner_nav > li:hover {
  background-color: hsl(25, 100%, 50%);
}
main .banner .banner_top .banner_nav > li:hover .banner_subnav {
  display: flex;
}
main .banner .banner_top .banner_nav > li:nth-child(3) .banner_subnav {
  width: 690px;
}
main .banner .banner_top .banner_nav .banner_subnav {
  background-color: white;
  position: absolute;
  left: 235px;
  top: 0;
  width: 990px;
  height: 100%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-content: start;
  display: none;
}
main .banner .banner_top .banner_nav .banner_subnav li {
  height: 16.66666667%;
  width: 247.5px;
  display: flex;
  align-items: center;
}
main .banner .banner_top .banner_nav .banner_subnav a img {
  height: 40px;
}
main .banner .banner_top .banner_nav .banner_subnav a span {
  color: #333;
}
main .banner .banner_top .banner_nav .banner_subnav a:hover span {
  color: hsl(25, 100%, 50%);
}
main .banner .banner_top .banner_slide {
  flex: 1;
  display: flex;
  align-items: center;
  z-index: -5;
  justify-content: space-between;
}
main .banner .banner_top .banner_slide span {
  width: 40px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
  color: #ddd;
}
main .banner .banner_top .banner_slide span:last-child {
  transform: rotate(180deg);
}
main .banner .banner_top .banner_slide span:hover {
  background-color: #7b7b7b;
  color: white;
}
main .banner .banner_top .banner_click {
  position: absolute;
  right: 35px;
  bottom: 25px;
  cursor: default;
  z-index: -5;
}
main .banner .banner_top .banner_click em {
  display: inline-block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #999;
  background-color: #777;
  cursor: pointer;
}
main .banner .banner_top .banner_click em:hover {
  background-color: #ddd;
}
main .news_release {
  height: 170px;
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
main .news_release .channel {
  width: 235px;
  height: 100%;
  background-color: #5f5750;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
main .news_release .channel a {
  display: block;
  width: 73px;
  height: 60px;
  padding-top: 18px;
  color: #cccccc;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}
main .news_release .channel a span {
  font-size: 25px;
}
main .news_release .channel a p {
  font-size: 12px;
  line-height: 24px;
}
main .news_release .channel a:hover {
  color: white;
}
main .news_release .channel a::after {
  content: '';
  display: block;
  position: relative;
  top: -75px;
  left: -7px;
  width: 14px;
  height: 12px;
  background-color: #5f5750;
}
main .news_release img {
  height: 100%;
  transition: all 0.5s;
}
main .news_release img:hover {
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
}
main .seckill .seckill_main {
  height: 340px;
  display: flex;
}
main .seckill .seckill_main #seckill {
  width: 235px;
  background-color: #f1eded;
  border-top: 1px solid red;
  margin-right: 14px;
  padding-top: 60px;
  text-align: center;
}
main .seckill .seckill_main #seckill h4 {
  color: #e7221b;
  font-size: 22px;
}
main .seckill .seckill_main #seckill span {
  color: #e53934;
  font-size: 56px;
  line-height: 116px;
}
main .seckill .seckill_main #seckill p {
  color: #706f6f;
  font-size: 14px;
  line-height: 18px;
}
main .seckill .seckill_main #seckill em {
  font-size: 20px;
  line-height: 80px;
  color: #81736a;
}
main .seckill .seckill_main #seckill em i {
  padding: 5px 6px;
  margin: 0 2px;
  background-color: #605751;
  color: white;
}
main .seckill .seckill_main .products_banner {
  flex: 1;
  overflow: hidden;
}
main .seckill .seckill_main .products_banner ul.products_content {
  width: 2000px;
  height: 100%;
  display: flex;
}
main .seckill .seckill_main .products_banner ul.products_content a {
  margin-right: 12px;
}
main .seckill .seckill_main .products_banner ul.products_content li:nth-of-type(odd) a {
  border-top: 1px solid red;
}
main .seckill .seckill_main .products_banner ul.products_content li:nth-of-type(even) a {
  border-top: 1px solid #1e9b1e;
}
main section {
  background-color: #f5f5f5;
}
main section .module_header {
  line-height: 62px;
  height: 62px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section .module_header h3 {
  font-size: 20px;
  font-weight: lighter;
}
main section .module_header .next {
  position: absolute;
  bottom: 10px;
  right: 0;
  line-height: 24px;
  height: 24px;
  width: 70px;
  border: 1px solid #e0e0e0;
  display: flex;
}
main section .module_header .next a {
  flex: 1;
  text-align: center;
  color: #b0b0b0;
}
main section .module_header .next a:hover {
  color: hsl(25, 100%, 50%);
}
main section .module_header .next a:first-child {
  border-right: 1px solid #e0e0e0;
}
main section .module_header .more a {
  font-size: 16px;
  color: #333;
  transition: all 0.5s;
}
main section .module_header .more a span {
  transition: all 0.5s;
  margin-left: 5px;
  font-size: 20px;
  line-height: 100px;
  border-radius: 50%;
  color: #b0b0b0;
}
main section .module_header .more a:hover,
main section .module_header .more a:hover span {
  color: hsl(25, 100%, 50%);
}
main section .module_main {
  display: flex;
}
main section .module_main .module_img {
  width: 235px;
  margin-right: 14px;
  display: flex;
  flex-flow: column;
}
main section .module_main .module_img img {
  transition: all 0.3s;
  width: 100%;
  height: auto;
}
main section .module_main .module_img img:hover {
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
main section .module_main .module_img img:nth-child(2) {
  margin-top: 15px;
}
main section .module_main .module_content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
main section .module_main .module_content li {
  height: 300px;
  display: flex;
  flex-flow: column;
}
main section .module_main .module_content li a {
  background-color: white;
  transition: all 0.3s;
}
main section .module_main .module_content li a:hover {
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
main section .module_main .module_content li a img {
  height: 70px;
}
main section .module_main .module_content li a.module_last {
  display: flex;
  flex-flow: row;
  align-content: space-around;
}
main section .module_main .module_content li a.module_last div {
  width: 90px;
}
main section .module_main .module_content li a.module_last div img {
  padding-top: 0;
  margin-bottom: 0;
}
main section .module_main .module_content li a.module_last .module_last_pic span {
  font-size: 50px;
  margin-left: 25px;
  color: hsl(25, 100%, 50%);
}
main section .module_main .module_content li a.module_more {
  margin-top: 14px;
}
main section .module_main .module_content li a.module_more p {
  font-size: 18px;
  line-height: 24px;
}
main section .module_main .module_content li a.module_more span {
  color: #999;
}
main section .module_content a {
  width: 235px;
  display: block;
  flex: 1;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
main section .module_content a img {
  height: 120px;
  width: auto;
  margin-bottom: 40px;
  padding-top: 25px;
}
main section .module_content a p {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  margin-top: 10px;
}
main section .module_content a p em {
  color: hsl(25, 100%, 50%);
}
main section .module_content a p i {
  text-decoration: line-through;
  color: #aaa;
}
main section .module_content a span {
  font-size: 12px;
  color: #aaa;
}
main section .module_banner {
  display: block;
  padding-top: 22px;
  padding-bottom: 18px;
}
main section .module_banner img {
  width: 100%;
}
.footer_top {
  height: 332px;
  background-color: white;
}
.footer_top #service {
  display: flex;
  justify-content: space-around;
  height: 80px;
  border-bottom: 1px solid #e0e0e0;
}
.footer_top #service li {
  flex: 1;
  display: flex;
  text-align: center;
}
.footer_top #service li a {
  color: #616161;
  border-right: 1px solid #e0e0e0;
  line-height: 25px;
  margin: auto;
  width: 100%;
  transition: all 0.2s;
}
.footer_top #service li a span {
  font-size: 16px;
}
.footer_top #service li a .iconfont {
  font-size: 26px;
  margin-right: 5px;
}
.footer_top #service li a:hover {
  color: hsl(25, 100%, 50%);
}
.footer_top #service li:nth-last-child(1) a {
  border-right: none;
}
.footer_top #more {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.footer_top #more .link {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.footer_top #more .link li {
  width: 100%;
}
.footer_top #more .link li h4 {
  font-size: 16px;
  margin-bottom: 30px;
  color: #424242;
}
.footer_top #more .link li a {
  display: block;
  font-size: 12px;
  line-height: 26px;
  color: #757575;
}
.footer_top #more .link li a:hover {
  color: hsl(25, 100%, 50%);
}
.footer_top #more .contact {
  width: 20%;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  height: 110px;
}
.footer_top #more .contact h4 {
  font-size: 20px;
  color: hsl(25, 100%, 50%);
}
.footer_top #more .contact p {
  color: #616161;
  font-size: 12px;
  line-height: 30px;
}
.footer_top #more .contact .manual_service {
  color: hsl(25, 100%, 50%);
  border: 1px solid hsl(25, 100%, 50%);
  cursor: pointer;
  width: 120px;
  line-height: 30px;
  display: inline-block;
  font-size: 12px;
  transition: all 0.5s;
}
.footer_top #more .contact .manual_service:hover {
  background-color: hsl(25, 100%, 50%);
  color: white;
}
.footer_top #more .contact p .iconfont {
  margin-left: 5px;
}
.footer_bottom {
  height: 170px;
  background-color: #fafafa;
  padding-top: 30px;
}
.footer_bottom .warpper {
  display: flex;
  color: #757575;
  font-size: 12px;
}
.footer_bottom .warpper a {
  font-size: 12px;
  color: #757575;
  line-height: 14px;
}
.footer_bottom .warpper a:hover {
  color: hsl(25, 100%, 50%);
}
.footer_bottom .warpper > img {
  height: 56px;
  width: auto;
  margin-right: 10px;
}
.footer_bottom .warpper .information .Affiliation li {
  margin-top: 4px;
  float: left;
  line-height: 12px;
  border-right: 1px solid #757575;
}
.footer_bottom .warpper .information .Affiliation li a {
  margin: 0 5px;
}
.footer_bottom .warpper .information .Affiliation li:last-child {
  border-right: none;
}
.footer_bottom .warpper p {
  color: #b0b0b0;
  margin-top: 3px;
  margin-left: 5px;
}
.footer_bottom .warpper p a {
  color: #b0b0b0;
}
.footer_bottom .warpper p img {
  display: inline-block;
  height: 28px;
  width: auto;
  margin-right: 5px;
}
.footer_slogan {
  height: 78px;
  background: url(../img/slogan2020.png) no-repeat scroll 50%;
  background-color: #fafafa;
}
